* {
  box-sizing: border-box;
}

#container {
  width: 1160px;
  margin: 0px auto;
}

ul.list-product {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
}
ul.list-product li {
  padding: 10px 15px;
  margin-bottom: 15px;
  list-style: none;
  flex-basis: 33.33%;
  height: 381px;
}

ul.list-product li .product-item {
  padding: 25px 25px 15px 25px;
  border: 1px solid grey;
  border-radius: 20px 0px 20px 0px;
  position: relative;
  overflow: hidden;
}

.img,
.price,
.buy-now,
.product-name {
  display: block;
  text-align: center;
}

.product-item .sale {
  position: absolute;
  top: 0px;
  right: 0px;
}

.price {
  font-weight: bold;
  font-size: 120%;
  margin: 15px 0px;
  color: orangered;
}

.product-name {
  text-decoration: none;
  color: rgb(62, 49, 49);
  font-size: 120%;
}

ul.list-product li .buy-now {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -43px;
  background-color: tomato;
  font-size: 120%;
  transition: all 0.3s;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

ul.list-product li .product-item:hover {
  border: 1px solid red;
  border-radius: 0px 20px 0px 20px;
}

.product-item:hover img {
  transform: rotate(1deg);
}

.product-item:hover .buy-now {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  background-color: tomato;
  font-size: 120%;
  position: absolute;
  bottom: 0px;
}

.footer {
  display: block;
  text-align: center;
}
