.container {
  max-width: 960px;
  margin: 0px auto;
}

h2,
h3 {
  margin: 0px;
}

#header {
  background-color: crimson;
}

#content {
  min-height: 900px;
  background-color: whitesmoke;
}

#footer {
  background-color: dimgray;
}
