.text-center {
  text-align: center;
}

.p-15 {
  padding: 15px;
}

.pt-3 {
  padding-top: 3px;
}

.text-uppercase {
  text-transform: uppercase;
}

.dp-flex {
  display: flex;
}

.dp-block {
  display: block;
}
.fl-left {
  float: left;
}

.clear-fix {
  clear: both;
}

.mr-30 {
  margin-right: 0px;
}

.fs-21 {
  font-size: 21px;
}

.fs-11 {
  font-size: 11px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.mt-15 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-0 {
  margin-left: 0px;
}

.color-aaaaaa {
  color: #aaaaaa;
}

.color-777777 {
  color: #777777;
}

.color-111111 {
  color: #111111;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.mr-4 {
  margin-right: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.line-height-12 {
  line-height: 1.2;
}
